.vs/
# Visual Studio
.vs/
*.user
bin/
obj/
Debug/
Release/
x64/
*.suo
*.sdf
*.opensdf
*.db
*.opendb
*.log
*.tlog
*.lastbuildstate
*.idb
*.pdb
*.ilk
*.exe
*.dll
*.lib
*.exp

!Zelda-Winapi/
!Zelda-Winapi/Common/
!Zelda-Winapi/Common/protoc-21.12-win64/
!Zelda-Winapi/Common/protoc-21.12-win64/bin/
!Zelda-Winapi/Common/protoc-21.12-win64/bin/**